# Ignore node_modules directory
node_modules/

.github/

# Ignore package-lock.json
package-lock.json

# Ignore package.json (if needed, usually you'd track this file)
package.json

# Ignore Prettier configuration files
.prettierignore
.prettierrc

