@import "https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  font-family: "Press Start 2P", sans-serif;
}

.container {
  background-color: #9ec81f;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 55vw;
  margin: 0 auto;
  position: relative;
}

.main-area {
  width: 100%;
}

.game-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 1rem;
  width: 100%;
  top: 0;
  left: 0;
  /* border: 2px solid blue */
}

.copyright,
.score {
  font-size: 1.455rem;
}

.play-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  text-align: center;
  margin: 1rem 0;
}

.emoji {
  font-size: 10rem;
  --size: 13rem;
  width: var(--size);
  height: var(--size);
  border: 2px dashed black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}

.computer-area-title {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-top: 1.5rem;
  /* border: 2px solid red */
}

.player-area-title {
  font-size: 2rem;
  text-transform: capitalize;
}
.announcement-board-title {
  margin: 2rem auto;
  padding: 2rem 1rem;
  background-color: #f2c244;
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.user-choices {
  margin-top: 1.5rem;
  display: flex;
  /* border: 2px solid black; */
  justify-content: space-evenly;
  width: 100%;
}

.user-rock-btn,
.user-scissors-btn,
.user-paper-btn {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  cursor: pointer;
  /* width: 20%; */
}

.btn-emoji {
  margin-bottom: 1rem;
  font-size: 5rem;
}

.text-btn, .text-btn-scissor{
  font-family: "Press Start 2P", sans-serif;
  text-transform: capitalize;
  font-size: 1.3rem;
}

/* responsiveness for my devices width (laptop) */

@media screen and (max-width: 93.0625em) {
  .container {
    width: 45vw;
  }
  #scissors-btn {
    font-size: 1.5rem;
    /* width: 33%; */
  }
}

@media screen and (max-width: 69.5em){
  .container{
    width: 60vw;
  }
}
.user-choices #scissors-btn {
  font-size: 0.8rem;
  width: 23%;
}
#scissor-text-btn{
  font-size: 1.5rem;
  font-weight: bold;
}

@media screen and (max-width: 66.25em) {
  .container {
    width: 65vw;
  }

  #scissors-btn {
    font-size: 1.5rem;
    /* width: 30%; */
  }
}

@media screen and (max-width: 45.6875em) {
  .container {
    width: 90vw;
  }
}

@media  screen and (max-width: 55em) {
  .container {
    width: 70vw;
  }
}

@media screen and (max-width: 40.625em) {
  .container {
    width: 100vw;
  }

  .game-heading {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .btn-emoji {
    font-size: 4rem;
  }

  .text-btn {
    font-size: 2rem;
  }

  /* media queries for the scissors button */
  @media screen and (max-width: 36.25em) {
    #scissor-text-btn {
      font-size: 1.8rem;
    }
  }

  @media screen and (max-width: 33.3125em) {
    .user-choices {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      /* border: 2px solid red; */
      justify-content: space-evenly;
    }
    .user-rock-btn,
    .user-paper-btn {
      margin-left: 1rem;
      /* width: 29%; */
    }

    .btn-emoji {
      font-size: 6rem;
    }

    .text-btn,
    #scissor-text-btn {
      font-size: 1.5rem;
    }
  }
  @media screen and (max-width: 25.3125em) {
    .game-heading{
      text-align: center;
    }

    #score-board,
    .copyright{
      font-size: 1.2rem;
    }
    .user-choices {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }

    .user-rock-btn,
    .user-paper-btn,
  #scissors-btn {
      width: 50%;
      margin: 0.5rem 0;
    }
  }
 
}
